/*!
 * Start Bootstrap - Grayscale Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
    width: 100%;
    height: 100%;
    font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #fff;
    background-color: #000;
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
}

@media(min-width:768px) {
    p {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
}

a {
    color: #42dca3;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #1d9b6c;
}

.light {
    font-weight: 400;
}

.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #000;
}

.navbar-custom .navbar-brand {
    font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom a {
    color: #fff;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover {
    outline: 0;
    color: rgba(255,255,255,.8);
    background-color: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: 0;
    background-color: transparent;
}

.navbar-custom .nav li.active {
    outline: 0;
}

.navbar-custom .nav li.active a {
    background-color: rgba(255,255,255,.3);
}

.navbar-custom .nav li.active a:hover {
    color: #fff;
}

@media(min-width:768px) {
    .navbar-custom {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .navbar-custom.top-nav-collapse {
        padding: 0;
        border-bottom: 1px solid rgba(255,255,255,.3);
        background: #000;
    }
}

.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: black;
    background: url(../img/intro-bg.jpg) no-repeat bottom center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.intro .intro-body .brand-heading {
    font-size: 40px;
}

.intro .intro-body .intro-text {
    font-size: 18px;
    color: black;
}

@media(min-width:768px) {
    .intro {
        height: 100%;
        padding: 0;
    }

    .intro .intro-body .brand-heading {
        font-size: 100px;
        color: black;
    }

    .intro .intro-body .intro-text {
        font-size: 26px;
        color: black;
    }
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 100%!important;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {    
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {    
    0% {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

.content-section {
    padding-top: 100px;
}

.download-section {
    width: 100%;
    padding: 50px 0;
    color: #fff;
    background: url(../img/downloads-bg.jpg) no-repeat center center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#map {
    width: 100%;
    height: 200px;
    margin-top: 100px;
}

@media(min-width:767px) {
    .content-section {
        padding-top: 250px;
    }

    .download-section {
        padding: 100px 0;
    }

    #map {
        height: 400px;
        margin-top: 250px;
    }
}

.btn {
    border-radius: 0;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
    border: 1px solid #42dca3;
    color: #42dca3;
    background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid #42dca3;
    outline: 0;
    color: #000;
    background-color: #42dca3;
}

ul.banner-social-buttons {
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    ul.banner-social-buttons li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 50px 0;
}

footer p {
    margin: 0;
}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: rgba(255,255,255,.2);
}

/*Pricing Module CSS Starts Here*/
@import url("http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css");
@import url("http://fonts.googleapis.com/css?family=Roboto:400,300,700italic,700,500&subset=latin,latin-ext");

body {
        padding-top: 40px;
        padding-bottom: 40px;
    	
      }
	
/* COMMON PRICING STYLES */
	.panel.price,
	.panel.price>.panel-heading{
		border-radius:0px;
		 -moz-transition: all .3s ease;
		-o-transition:  all .3s ease;
		-webkit-transition:  all .3s ease;
	}
	.panel.price:hover{
		box-shadow: 0px 0px 30px rgba(0,0,0, .2);
	}
	.panel.price:hover>.panel-heading{
		box-shadow: 0px 0px 30px rgba(0,0,0, .2) inset;
	}
	
			
	.panel.price>.panel-heading{
		box-shadow: 0px 5px 0px rgba(50,50,50, .2) inset;
		text-shadow:0px 3px 0px rgba(50,50,50, .6);
	}
		
	.price .list-group-item{
		border-bottom-:1px solid rgba(250,250,250, .5);
	}
	
	.panel.price .list-group-item:last-child {
		border-bottom-right-radius: 0px;
		border-bottom-left-radius: 0px;
	}
	.panel.price .list-group-item:first-child {
		border-top-right-radius: 0px;
		border-top-left-radius: 0px;
	}
	
	.price .panel-footer {
		color: #fff;
		border-bottom:0px;
		background-color:  rgba(0,0,0, .1);
		box-shadow: 0px 3px 0px rgba(0,0,0, .3);
	}
	
	
	.panel.price .btn{
		box-shadow: 0 -1px 0px rgba(50,50,50, .2) inset;
		border:0px;
	}
	
/* green panel */

	
	.price.panel-green>.panel-heading {
		color: #fff;
		background-color: #57AC57;
		border-color: #71DF71;
		border-bottom: 1px solid #71DF71;
	}
	
		
	.price.panel-green>.panel-body {
		color: #fff;
		background-color: #65C965;
	}
			
	
	.price.panel-green>.panel-body .lead{
			text-shadow: 0px 3px 0px rgba(50,50,50, .3);
	}
	
	.price.panel-green .list-group-item {
		color: #333;
		background-color: rgba(50,50,50, .01);
		font-weight:600;
		text-shadow: 0px 1px 0px rgba(250,250,250, .75);
	}
	
	/* blue panel */

	
	.price.panel-blue>.panel-heading {
		color: #fff;
		background-color: #608BB4;
		border-color: #78AEE1;
		border-bottom: 1px solid #78AEE1;
	}
	
		
	.price.panel-blue>.panel-body {
		color: #fff;
		background-color: #73A3D4;
	}
			
	
	.price.panel-blue>.panel-body .lead{
			text-shadow: 0px 3px 0px rgba(50,50,50, .3);
	}
	
	.price.panel-blue .list-group-item {
		color: #333;
		background-color: rgba(50,50,50, .01);
		font-weight:600;
		text-shadow: 0px 1px 0px rgba(250,250,250, .75);
	}
	
	/* red price */
	

	.price.panel-red>.panel-heading {
		color: #fff;
		background-color: #D04E50;
		border-color: #FF6062;
		border-bottom: 1px solid #FF6062;
	}
	
		
	.price.panel-red>.panel-body {
		color: #fff;
		background-color: #EF5A5C;
	}
	
	
	
	
	.price.panel-red>.panel-body .lead{
			text-shadow: 0px 3px 0px rgba(50,50,50, .3);
	}
	
	.price.panel-red .list-group-item {
		color: #333;
		background-color: rgba(50,50,50, .01);
		font-weight:600;
		text-shadow: 0px 1px 0px rgba(250,250,250, .75);
	}
	
	/* grey price */
	

	.price.panel-grey>.panel-heading {
		color: #fff;
		background-color: #6D6D6D;
		border-color: #B7B7B7;
		border-bottom: 1px solid #B7B7B7;
	}
	
		
	.price.panel-grey>.panel-body {
		color: #fff;
		background-color: #808080;
	}
	

	
	.price.panel-grey>.panel-body .lead{
			text-shadow: 0px 3px 0px rgba(50,50,50, .3);
	}
	
	.price.panel-grey .list-group-item {
		color: #333;
		background-color: rgba(50,50,50, .01);
		font-weight:600;
		text-shadow: 0px 1px 0px rgba(250,250,250, .75);
	}
	
	/* white price */
	

	.price.panel-white>.panel-heading {
		color: #333;
		background-color: #f9f9f9;
		border-color: #ccc;
		border-bottom: 1px solid #ccc;
		text-shadow: 0px 2px 0px rgba(250,250,250, .7);
	}
	
	.panel.panel-white.price:hover>.panel-heading{
		box-shadow: 0px 0px 30px rgba(0,0,0, .05) inset;
	}
		
	.price.panel-white>.panel-body {
		color: #fff;
		background-color: #dfdfdf;
	}
			
	.price.panel-white>.panel-body .lead{
			text-shadow: 0px 2px 0px rgba(250,250,250, .8);
			color:#666;
	}
	
	.price:hover.panel-white>.panel-body .lead{
			text-shadow: 0px 2px 0px rgba(250,250,250, .9);
			color:#333;
	}
	
	.price.panel-white .list-group-item {
		color: #333;
		background-color: rgba(50,50,50, .01);
		font-weight:600;
		text-shadow: 0px 1px 0px rgba(250,250,250, .75);
	}